<div id="menu-wrapper" class="navbar-wrapper">
    <div class="inner-container">
        <div id="navigation-bar" class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <div>
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a id="logo" class="navbar-brand" href="index.html"><img class="" src="images/logo.png"
                                                                                 alt=""></a>
                    </div>
                </div>
                <div id="menu" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="active home"><a href="#main-slider"> Home</a></li>
                        <li class="service"><a href="#services-wrapper">Services</a></li>
                        <li class="portfolio"><a href="#portfolio-wrapper">Portfolio</a></li>
                        <li class="about"><a href="#aboutus-wrapper">About</a></li>
                        <li class="team"><a href="#team-wrapper">Team</a></li>
                        <li class="client"><a href="#client-wrapper">Clients</a></li>
                        <li class="blog"><a href="#blog-wrapper">Blog</a></li>
                        <li class="contact"><a href="#contact-wrapper">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
